@import url(//fonts.googleapis.com/css?family=Lato:300:400);

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* overflow-y: scroll; */
}

@media screen and (min-width: 650px) {
  html {
    font-size: 75%;
  }
}

.container {
  height: fit-content;
  width: fit-content;
  padding: 1rem;
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.components {
  width: fit-content;
  height: fit-content;
  border-radius: 3rem;
  box-shadow: 0.8rem 0.8rem 0.8rem rgb(78, 78, 161),
    -0.2rem -0.2rem 1rem rgb(78, 78, 161);
  padding: 40px;
  grid-column-gap: 5rem;
  grid-row-gap: 2.5rem;
  align-items: center;
  background: var(--greyLight-1);
  display: flex;
  flex-direction: column;
}

.H1 {
  color: var(--greyDark);
  font-family: "Lato", sans-serif;
}
