
a{
    text-decoration: none;
}
.card {
    width: 35vh;
    height: fit-content;
    padding: 0.5rem;
    border-radius: 3rem;
    background-color: var(--primary);
    box-shadow: 0.8rem 0.8rem 0.8rem var(--greyLight-3),
        -0.2rem -0.2rem 1rem var(--greyLight-3);
    cursor: pointer;
    transition: 0.3s ease;
}

Link:hover {
    color: var(--white);
}

Link:active {
    box-shadow: inset 0.2rem 0.2rem 1rem var(--greyDark), inset -0.2rem -0.2rem 1rem var(--greyLight-1);
}

.user-logo{
    padding: 10px;
}
.user-title-div{
    color: black;
}
/* img{
    width: 20vh;
} */