.form {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 0.3rem;
  justify-content: center;
  align-items: center;
}
.form__input {
  width: 20.4rem;
  height: 4rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.4rem;
  padding-left: 1.4rem;
  margin-top: 0.5rem;
  box-shadow: 0.2rem 0.2rem 0.5rem var(--greyLight-2),
    -0.2rem -0.2rem 0.5rem var(--white);
  background: none;
  font-family: inherit;
  color: var(--primary);
}
.form__input::placeholder {
  color: var(--greyLight-3);
}
.form__input:focus {
  outline: none;
  box-shadow: inset 0.3rem 0.3rem 0.6rem var(--greyLight-2),
    inset -0.2rem -0.2rem 0.5rem var(--white);
}

.field-label {
  margin-top: 0.5rem;
  display: inline-block;
  width: 100px;
  text-align: right;
}
@media screen and (max-width: 900px) {
  .field-label {
    text-align: left;
  }
}
