.radiocontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}
@media screen and (max-width:660px) {
  .inputRadio{
    flex-direction: column;
    row-gap: 2rem;
  }
  
}
.inputRadio {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5rem;
}
