:root {
  --primary-light: #8abdff;
  --primary: #6d5dfc;
  --primary-dark: #5b0eeb;
  --white: #ffffff;
  --greyLight-1: #e4ebf5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.Navbar {
  grid-column: 2/3;
  grid-row: 3/4;
  justify-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3.5rem;
  border-radius: 1rem;
  box-shadow: 0.8rem 0.8rem 0.8rem rgb(78, 78, 161),
    -0.2rem -0.2rem 1rem rgb(78, 78, 161);
  padding: 0 2rem;
  background-color: var(--white);
}

.Navbar__icon {
  font-size: 2rem;
  color: #333;
}

.Navbar p {
  font-size: 1.5rem;
  color: #333;
  margin: 0;
}

.Navbardiv {
  padding-top: 20px;
}
