:root {
    --primary-light: #8abdff;
    --primary: #6d5dfc;
    --primary-dark: #5b0eeb;
    --white: #FFFFFF;
    --greyLight-1: #E4EBF5;
    --greyLight-2: #c8d0e7;
    --greyLight-3: #bec8e4;
    --greyDark: #9baacf;
  }
  
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  .segmented-control {
    grid-column: 4/4;
    grid-row: 1/2;
    height: 35.2rem;
    width: 6rem;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 15vh;
    margin-left: 10px;
  }
  .segmented-control input {
    display: none;
  }
  .segmented-control > input:checked + label {
    transition: all 0.5s ease;
    color: var(--primary);
  }
  .segmented-control__1, .segmented-control__2, .segmented-control__3, .segmented-control__4 {
    height: 8.8rem;
    width: 3.6rem;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--greyDark);
    transition: all 0.5s ease;
  }
  .segmented-control__1:hover, .segmented-control__2:hover, .segmented-control__3:hover, .segmented-control__4:hover {
    color: var(--primary);
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
    width: 5.2rem;
    height: 8.0rem;
    margin-top: 0.3rem;
    margin-left: 0.1rem;
    border-radius: 0.8rem;
  }
  .segmented-control__color {
    position: absolute;
    width: 5.2rem;
    height: 8.0rem;
    margin-top: 0.3rem;
    margin-left: 0.1rem;
    border-radius: 0.8rem;
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
    pointer-events: none;
  }