*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
.chip {
  grid-column: 2/3;
  grid-row: 3/4;
  justify-self: center;
  width: -moz-fit-content;
  width: fit-content;
  height: fit-content;
  border-radius: 1rem;
  box-shadow: inset 0.3rem 0.3rem 0.6rem var(--greyLight-2),
    inset -0.2rem -0.2rem 0.5rem var(--white);
  display: flex;
  align-items: center;
  padding: 5px 3px 5px 3px;
}
.chip h1 {
  font-size: 1.5rem;
  margin: 0.5rem;
  color: var(--greyDark);
}
